/** ENCABEZADO**/

header {
    text-align: center;
    background-color: #ffffff;
    padding: 10px 30px;
    margin: 0 3rem 0 5rem;
    /* No esta funcionando el position:sticky */
    position: sticky;
    top: 0;
    z-index: 10;
}

.tituloPrincipal {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    line-height: 1rem;

    transition: transform 0.3s;

    &:hover {
        transform: scale(1.05);
    }
    
}

.textoGrande {
    font-size: 1.4rem;
    color: #8c30fe;
    display: inline-block;
    transition: transform 0.3s;

}

.textoPequeno {
    font-size: 1rem;
    color: #8c30fe;

}

.barraNav ul,
li {
    padding: 0 0.5rem;
    font-weight: bold;
}

.barraNav ul li .colorItem{
    text-transform: uppercase;
    font-size: 1rem;
    color: #8c30fe;

    transition: transform 0.3s;

    &:hover {
        transform: scale(1.05);
    }

}

.dropdown-item {
    padding: .5rem 0;
    padding-left: .9rem;
    margin: .7rem;
}

.logoRedes {
    width: 30px;
}

.colorItem {
    color: #8c30fe;

    &:hover {
        background-color: #f1e4ff;
        color: #8c30fe;
        border-radius: 10px;
    }
}

/** FIN ENCABEZADO**/