/* NOSOTROS - SECCION A  */

.lineaNosotros {
    border: 0.5px solid #E8E5E4;
    margin: 0;
}

.nosotrosSeccionA {
    background-color: #ffffff;
    display: flex;
}

.contenedorImagenNosotrosA {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenNosotrosA {
    width: 75%;
}


.textoNosotrosA {
    width: 55%;
    padding-right: 5rem;
    
    @include displayFlexCenter;
}

.somosParte {
    text-align: start;
    margin-bottom: 25px;
    margin-top: 30px;
}

.nosDedicamos {
    text-align: justify;
   
    line-height: 180%;
    font-size: 1.1rem;
}



/* FIN NOSOTROS SECCION A  */