/* NOSOTROS SECCION B */

.nosotrosSeccionB {
    background-color: #c597fa;
    display: flex;
}

.misionVision {
    background-color: #f1e4ff;
    margin: 3.5rem;
    width: 50%;
    border-radius: 25px;
}

.margenInternoMision {
    margin-right: 1rem;
}

.margenInternoVision {
    margin-left: 1rem;
}

.tituloSecB {
    text-align: center;
    padding: 1rem 0;
    margin: 0;
    
}


.textoSecB {
    padding: 0 30px 30px 30px;
    text-align: justify;
    line-height: 150%;
}

/* FIN NOSOTROS SECCION B */
